In [44]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
pegasus_df = pd.read_csv("pegasussumms_rouges.csv")
extract_df = pd.read_csv("extractivesumms_rouges.csv")

In [39]:
pegasus_df["rouge1"].describe()

count    3269.000000
mean        0.151635
std         0.124931
min         0.000000
25%         0.065574
50%         0.108696
75%         0.197531
max         0.844444
Name: rouge1, dtype: float64

In [30]:
pr1 = pegasus_df["rouge1"].describe().reset_index()["rouge1"]
pr2 = pegasus_df["rouge2"].describe().reset_index()["rouge2"]
prL = pegasus_df["rougeL"].describe().reset_index()["rougeL"]

In [29]:
er1 = extract_df["rouge1"].describe().reset_index()["rouge1"]
er2 = extract_df["rouge2"].describe().reset_index()["rouge2"]
erL = extract_df["rougeL"].describe().reset_index()["rougeL"]

In [42]:
summary = pd.DataFrame({"Pegasus R1": list(pr1), 
                        "Extract R1": list(er1), 

                        "Pegasus R2": list(pr2),
                        "Extract R2": list(er2), 

                        "Pegasus RL": list(prL), 
                        "Extract RL": list(erL)}, 
                        index = ["count", "mean", "std", "min", "25%", "50%", "75%", "max"])

In [43]:
summary

,Pegasus R1,Extract R1,Pegasus R2,Extract R2,Pegasus RL,Extract RL
count,3269.000000,3269.000000,3269.000000,3269.000000,3269.000000,3269.000000
mean,0.151635,0.385063,0.081625,0.173950,0.123594,0.221922
std,0.124931,0.140073,0.095117,0.108850,0.103251,0.089775
min,0.000000,0.004584,0.000000,0.000000,0.000000,0.003056
25%,0.065574,0.287926,0.017467,0.090652,0.055118,0.160784
50%,0.108696,0.392344,0.049689,0.155317,0.089744,0.208651
75%,0.197531,0.490272,0.112000,0.240000,0.156250,0.270270
max,0.844444,0.769231,0.790698,0.639269,0.757895,0.672948