In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pegasus_df = pd.read_csv("pegasussumms_rouges.csv")
extract_df = pd.read_csv("extractivesumms_rouges.csv")
catest_df = pd.read_csv("catest_rouges.csv")

In [3]:
catest_df

,title,rouge1,rouge2,rougeL
0,An act to add and repeal Section 38755 of the ...,0.531915,0.401709,0.408511
1,An act to repeal and add Section 7597.1 of the...,0.443812,0.228245,0.293030
2,An act to amend Sections 14169.53 and 14169.75...,0.424125,0.113281,0.194553
3,An act to amend the Budget Act of 2016 (Chapte...,0.223827,0.065455,0.137184
4,An act to amend the Budget Act of 2016 by amen...,0.341772,0.128205,0.240506
...,...,...,...,...
181,"An act to amend Section 261.5 of, and to add S...",0.568323,0.352025,0.329193
182,An act to add Chapter 11 (commencing with Sect...,0.481836,0.218810,0.240918
183,An act to add Section 39734 to the Health and ...,0.247289,0.089130,0.117137
184,An act to amend Sections 89711 and 89712 of th...,0.575342,0.334862,0.410959
185,"An act to amend Sections 488.080, 699.080, and...",0.404624,0.203488,0.265896

In [4]:
pr1 = pegasus_df["rouge1"].describe().reset_index()["rouge1"]
pr2 = pegasus_df["rouge2"].describe().reset_index()["rouge2"]
prL = pegasus_df["rougeL"].describe().reset_index()["rougeL"]

In [5]:
er1 = extract_df["rouge1"].describe().reset_index()["rouge1"]
er2 = extract_df["rouge2"].describe().reset_index()["rouge2"]
erL = extract_df["rougeL"].describe().reset_index()["rougeL"]

In [6]:
car1 = catest_df["rouge1"].describe().reset_index()["rouge1"]
car2 = catest_df["rouge2"].describe().reset_index()["rouge2"]
carL = catest_df["rougeL"].describe().reset_index()["rougeL"]

In [10]:
summary = pd.DataFrame({"Pegasus R1": list(pr1), 
                        "Extract R1": list(er1), 
                        "CA R1": list(car1),

                        "Pegasus R2": list(pr2),
                        "Extract R2": list(er2), 
                        "CA R2": list(car2),

                        "Pegasus RL": list(prL), 
                        "Extract RL": list(erL), 
                        "CA RL": list(carL)},
                        index = ["count", "mean", "std", "min", "25%", "50%", "75%", "max"])

In [11]:
summary

,Pegasus R1,Extract R1,CA R1,Pegasus R2,Extract R2,CA R2,Pegasus RL,Extract RL,CA RL
count,3269.000000,3269.000000,186.000000,3269.000000,3269.000000,186.000000,3269.000000,3269.000000,186.000000
mean,0.151635,0.385063,0.407578,0.081625,0.173950,0.182545,0.123594,0.221922,0.241122
std,0.124931,0.140073,0.111694,0.095117,0.108850,0.086724,0.103251,0.089775,0.075713
min,0.000000,0.004584,0.116992,0.000000,0.000000,0.038278,0.000000,0.003056,0.102426
25%,0.065574,0.287926,0.333349,0.017467,0.090652,0.112907,0.055118,0.160784,0.185532
50%,0.108696,0.392344,0.413562,0.049689,0.155317,0.177140,0.089744,0.208651,0.238261
75%,0.197531,0.490272,0.486593,0.112000,0.240000,0.236364,0.156250,0.270270,0.286118
max,0.844444,0.769231,0.649194,0.790698,0.639269,0.461538,0.757895,0.672948,0.530612